body {
	background-color: #FFF;
}

a{
	color: #f7941d;
}

.top-nav-item{
	margin: 0 0 10px 0;
}

.navbar-form {
	margin-bottom: 0;
	margin-top: 0;
	padding: 0 0;
	margin-left: 0;
	margin-right: 0;
}

.row {
	margin-left: 2px;
	margin-right: 2px;
}

/* .container-fluid-1280 .row {
	margin-left: 2px;
	margin-right: 2px;
} */
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2,
	.col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
	.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5,
	.col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6,
	.col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8,
	.col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9,
	.col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11,
	.col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12
	{
	padding-left: 2px;
	padding-right: 2px;
}

/* .navbar-form svg.lexicon-icon.lexicon-icon-search {
	color: #fff;
	background: #f7941d;
}

.navbar-form .icon-monospaced .lexicon-icon {
	height: 42px;
	line-height: 42px;
	width: 42px;
}

.navbar-form a .icon-monospaced, .navbar-form  .icon-monospaced {
	width: 42px;
}

.navbar-form #_com_liferay_portal_search_web_portlet_SearchPortlet_fm .form-group{
	border: #EBEBEB thin solid;
} */
.navbar-form .form-control {
	border-bottom: none;
	width: 100%;
}

.navbar-form #_com_liferay_portal_search_web_portlet_SearchPortlet_fm fieldset.fieldset
	{
	border: #EBEBEB thin solid;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.navbar-form #_com_liferay_portal_search_web_portlet_SearchPortlet_fm .field-wrapper a
	{
	color: #f7941d;
}

.navbar-form #_com_liferay_portal_search_web_portlet_SearchPortlet_fm .lfr-ddm-field-group
	{
	margin-bottom: 0;
	float: right;
}

.navbar-form #_com_liferay_portal_search_web_portlet_SearchPortlet_fm .lfr-ddm-field-group .icon-monospaced svg
	{
	height: 42px;
}

.navbar-form #_com_liferay_portal_search_web_portlet_SearchPortlet_fm .form-group.form-group-inline.input-text-wrapper
	{
	width: 88%;
}

#footer {
	background-color: #f7941d;
}

.catgory-line{
    border-bottom: #f7941d 2px solid;
}
.catgory-title{
    background-color: #f7941d;
    padding: 10px;
}    
.overlaySP{
    position: absolute;
    top: 0;    
    background: rgba(154, 152, 152, 0.6);
    height: 100%;
}
.textSP{
    text-align: center;
    color: #fff;
    opacity: 1;
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 20px;    
}

.sp-card{
    margin: 2px 0;
    position: relative;
}


.btn-default{
	border-color: #f7941d;
	color:#f7941d;
}

.btn-warning{
	background-color:#f7941d;
}
